<!-- Fullpage.js hook -->
<div fullpage id="fullpage" [options]="config" (ref)="getRef($event)">
  <div
    class="section fullpage__section"
    (click)="fullpage_api.moveSectionDown()"
  >
    <h1>Billy Aguinaga <span class="sr-only">: portfolio website</span></h1>
  </div>
  <div
    class="section fullpage__section"
    (click)="fullpage_api.moveSectionDown()"
  >
    Slide 2
  </div>
  <div
    class="section fullpage__section"
    (click)="fullpage_api.moveTo('firstPage', 1)"
  >
    Slide 3
  </div>
</div>
