<section
  class="flex flex-col lg:flex-row items-center justify-start lg:justify-center lg:min-h-screen h-full xl:px-24 lg:px-16 px-8 space-y-4 md:space-y-8 lg:space-y-0"
>
  <!-- <div> -->
  <!-- Left Container -->
  <div
    class="md:w-1/2 xl:w-1/3 flex flex-col items-center space-y-4 mt-4 md:mt-8 lg:mt-0"
  >
    <!-- Headshot -->
    <img
      src="assets/images/headshot.jpg"
      alt="Billy Aguinaga Photograph"
      class="w-32 h-32 md:w-48 md:h-48 lg:h-64 lg:w-64 rounded-full shadow-lg filter grayscale transition duration-500"
    />
    <!-- Name -->
    <h1 class="text-3xl md:text-4xl text-gray-800 text-center">
      Billy Aguinaga
    </h1>
    <!-- Social Links -->
    <div class="flex space-x-4">
      <!-- GitHub -->
      <a
        href="https://github.com/baguinaga"
        target="_blank"
        class="text-gray-800 hover:text-gray-950 transition duration-300 ease-in-out flex items-center space-x-2"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="currentColor"
          class="bi bi-github"
          viewBox="0 0 16 16"
        >
          <path
            d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"
          />
        </svg>
        <span>GitHub</span>
      </a>

      <!-- LinkedIn -->
      <a
        href="https://www.linkedin.com/in/baguinaga/"
        target="_blank"
        class="text-blue-800 hover:text-blue-950 transition duration-300 ease-in-out flex items-center space-x-2"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="currentColor"
          class="bi bi-linkedin"
          viewBox="0 0 16 16"
        >
          <path
            d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854zm4.943 12.248V6.169H2.542v7.225zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248S2.4 3.226 2.4 3.934c0 .694.521 1.248 1.327 1.248zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016l.016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225z"
          />
        </svg>
        <span>LinkedIn</span>
      </a>

      <!-- Resume -->
      <a
        href="assets/documents/baguinaga_resume.pdf"
        download
        class="text-green-800 hover:text-green-950 transition duration-300 ease-in-out flex items-center space-x-2"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="currentColor"
          class="bi bi-download"
          viewBox="0 0 16 16"
        >
          <path
            d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"
          />
          <path
            d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"
          />
        </svg>

        <span>Resume</span>
      </a>
    </div>
    <!-- Email -->
    <div class="flex space-x-4">
      <a
        href="mailto:aguinaga.b@gmail.com"
        class="text-gray-700 hover:text-gray-800 transition duration-300 ease-in-out flex items-center space-x-2"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="currentColor"
          class="bi bi-envelope-fill"
          viewBox="0 0 16 16"
        >
          <path
            d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414zM0 4.697v7.104l5.803-3.558zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586zm3.436-.586L16 11.801V4.697z"
          />
        </svg>
        <span>aguinaga.b&#64;gmail.com</span>
      </a>
    </div>
  </div>

  <!-- Vertical Separator -->
  <div class="hidden lg:block mx-12 w-[2px] h-2/5 bg-gray-500"></div>

  <!-- Right Container -->
  <div class="lg:w-1/2 h-1/2 max-h-104 md:text-left text-center space-y-4">
    <h2 class="text-2xl md:text-3xl text-gray-800 text-center">About Me</h2>

    <!-- About Me Container -->
    <div
      id="about-me-container"
      class="fade-overlay h-full max-h-64 md:max-h-none space-y-4 px-2 overscroll-none text-gray-600 text-md lg:text-lg text-justify transition-all duration-300"
    >
      <p class="text-gray-600">
        Hi, I’m Billy Aguinaga — a front-end developer with a full-stack
        foundation and a background in Chemistry that shapes how I approach
        systems, design, and problem-solving.
      </p>
      <p class="text-gray-600">
        This site is both portfolio and
        <a
          class="text-blue-800 hover:text-blue-950 underline transition duration-300 ease-in-out"
          target="_blank"
          rel="noopener noreferrer"
          href="https://github.com/baguinaga/3d-angular-portfolio"
          >project</a
        >
        — built with Angular and integrated with Three.js as a creative
        challenge to push beyond the familiar. What began as a visual experiment
        evolved into a 3D canvas that blends interactivity, symbolism, and
        deliberate architecture.
      </p>
      <p class="text-gray-600">
        For me, development is a convergence of engineering and creative intent.
        Practically, I care about accessibility, performance, and usability—but
        also about building interfaces that feel considered. Not just
        functional, but meaningful. Something someone cared about.
      </p>
      <p class="text-gray-600">
        After stepping away from full-time development, I’ve returned with
        renewed clarity and a focused trajectory. I’m currently expanding into
        React and Next.js with a focus on projects that grow my skill set and
        reflect both utility and intent.
      </p>
    </div>

    <!-- Read More Button -->
    <button
      id="read-more-btn"
      aria-controls="about-me-container"
      aria-expanded="false"
      aria-label="Read More"
      aria-hidden="true"
      class="hidden block mx-auto px-4 py-2 rounded-full bg-slate-800 hover:bg-slate-900 text-white focus:outline-none focus:ring-2 focus:ring-gray-300 transition duration-300 ease-in-out"
      (click)="toggleReadMore()"
    >
      Read More
    </button>
  </div>
  <!-- </div> -->
</section>
