.canvas {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1000;
  overflow: hidden;
  transition:
    filter 0.5s ease,
    z-index 2s ease;
  filter: sepia(0.25);
}

.canvas.interact {
  z-index: 1000;
  filter: sepia(0);
}
