.canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
  transition: filter 12s ease;
  filter: hue-rotate(155deg) blur(2px);
}

.canvas.interact {
  z-index: 40;
  filter: hue-rotate(0deg) blur(0px);
}
