<section
  class="flex flex-col items-center justify-start lg:min-h-screen h-full px-6 md:px-16 lg:px-24 space-y-8 relative"
>
  <!-- Header -->
  <div class="w-full lg:w-3/4 max-w-7xl space-y-4 mt-8">
    <!-- Page Title -->
    <h1 class="text-3xl md:text-4xl text-gray-800 text-center">Projects</h1>
    <p class="text-lg lg:text-xl text-justify text-gray-700 text-center">
      This section includes both current and archived projects. The older work
      was created during my time at coding bootcamp—while no longer reflective
      of my current standards, it represents the foundation I’ve built on and
      adds context to the tools I’ve worked with throughout my development
      journey.
    </p>
  </div>

  <!-- Scrollable Accordion Container -->
  <div class="w-full lg:w-3/4 max-w-4xl max-w-7xl overflow-y-auto space-y-4">
    <!-- Loop through sections -->
    <div
      *ngFor="let section of sections"
      class="border border-slate-500 rounded-lg shadow-md"
    >
      <!-- Section Header -->
      <button
        class="w-full flex justify-between items-center px-4 py-2 bg-slate-800 text-white font-medium rounded-t-lg focus:outline-hidden focus:ring-2 focus:ring-gray-300 transition duration-100 ease-in-out"
        [ngClass]="{ 'rounded-b-lg': !section.isOpen() }"
        [attr.aria-expanded]="section.isOpen()"
        (click)="section.toggle()"
        [attr.aria-controls]="section.id"
      >
        <h2 class="text-xl md:text-2xl text-white text-center">
          {{ section.title }}
        </h2>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5 transform transition-transform duration-300"
          [ngClass]="{ 'rotate-180': section.isOpen() }"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M19 9l-7 7-7-7"
          />
        </svg>
      </button>

      <!-- Section Content -->
      <div
        [id]="section.id"
        class="overflow-hidden transition-all duration-300 ease-in-out"
        [ngClass]="{
          'max-h-0': !section.isOpen(),
          'max-h-screen': section.isOpen(),
        }"
      >
        <div class="overflow-y-auto max-h-64 md:max-h-96">
          <!-- Loop through projects -->
          <div
            *ngFor="let project of section.projects; let i = index"
            class="flex flex-col md:flex-row items-center md:items-start p-4 space-y-4 md:space-y-0 md:space-x-4 bg-opacity-50"
            [ngClass]="{
              'bg-gray-50': i % 2 === 0,
              'bg-gray-300': i % 2 !== 0,
            }"
          >
            <!-- Project Image -->
            <div
              class="w-full md:w-1/3 max-h-40 md:max-h-36 aspect-square flex items-center justify-center overflow-hidden"
            >
              <img
                [src]="project.image || placeholderImage"
                [alt]="project.name + ' Screenshot'"
                class="w-full h-full object-contain"
              />
            </div>
            <!-- Project Details -->
            <div class="flex flex-col space-y-2 w-full">
              <div class="flex flex-wrap gap-2">
                <span
                  *ngFor="let tech of project.technologies"
                  class="bg-cyan-50 text-slate-600 text-sm font-medium px-2.5 py-0.5 rounded-full"
                >
                  {{ tech }}
                </span>
              </div>
              <h2 class="text-xl font-semibold text-gray-800">
                {{ project.name }}
              </h2>
              <p class="text-gray-700">{{ project.description }}</p>
              <div class="flex space-x-4">
                <a
                  [href]="project.githubLink"
                  target="_blank"
                  class="text-blue-800 hover:text-blue-950 transition duration-300 ease-in-out"
                >
                  GitHub Repo
                </a>
                <a
                  *ngIf="project.demoLink"
                  [href]="project.demoLink"
                  target="_blank"
                  class="text-green-800 hover:text-green-950 transition duration-300 ease-in-out"
                >
                  Live Demo
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
